@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
    --color-primary: #451f9f;
    --color-primary-focus: #5d2cc7;
    --color-primary-content: #ffffff;
    --color-secondary: #c909c0;
    --color-secondary-focus: #e01dd4;
    --color-secondary-content: #ffffff;

    --color-danger: #dc2626;
    --color-danger-focus: #b91c1c;
    --color-danger-content: #ffffff;
    --color-success: #16a34a;
    --color-success-focus: #15803d;
    --color-success-content: #ffffff;
    --color-warning: #f59e0b;
    --color-warning-focus: #d97706;
    --color-warning-content: #000000;
    --color-info: #3b82f6;
    --color-info-focus: #2563eb;
    --color-info-content: #ffffff;
}
